
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.cabecalho{
    background-color: #000;
    padding: 20px;
   
}
.cabecalho-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
     justify-content: center;
    text-align: center;
}
.cabecalho-menu{
    list-style: none;
    display: flex;
}
.cabecalho-menu li{
    margin-left: 20px;
}
.cabecalho-menu a{
    color: #fff;
    text-decoration: none;
}
.banner{
    background-image: url(../assets/img/Game6.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: background-image 1s ease-in-out;
}
.banner-overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
/* pseudo elemento */
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    opacity: 50%;
}
.banner-conteudo{
    width:600px;
    position:relative;
    z-index: 2;
}

footer{
    background: #000;
    padding:20px;
    text-align: center;
}

.produto{
    width: 200px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #1f2937;
    background: #ccc;
    border-radius: 20px;
}
.produto img{ 
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 20px;
    object-fit: cover;
}
.preco{
    font-weight: 700;
    margin-top: 50px;
    color: #1f2937;
    font-size: 1.7em;
    
}
button{
    background: #D9D2D0;
    border-radius: 30px;
    margin-top: 30px;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    box-shadow: 0px 0px 8px #ffffff; /* Adiciona uma sombra branca */
    transform: scale(1.05); /* Efeito de zoom leve */
    background: #1F2937;
    color:#fff;
}
.cards{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    justify-content: center;
}