
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.cabecalho{
    background-color: #000;
    padding: 20px;
   
}
.cabecalho-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #000; /* fundo escuro elegante */
    padding: 20px 50px;
    position: sticky;
    top: 0;
  z-index: 1000;
}
.cabecalho-menu{
    list-style: none;
    display: flex;
}
.cabecalho-menu li{
    margin-left: 20px;
}
.cabecalho-menu a{
    color: #fff;
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    font-size: 20px;
}
.cabecalho-menu a:hover{
    color: #FFD700;
    text-shadow: 0 0 8px #FFD700;

}
.banner{
    background-image: url(../assets/img/Game6.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: background-image 1s ease-in-out;
}
.banner-overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
.banner-titulo{
    font-size:3em;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
.banner-titulo h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
/* pseudo elemento */
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    opacity: 50%;
}
.banner-conteudo{
    width:600px;
    position:relative;
    z-index: 2;
}

.texto{
    font-size: 25px;
    white-space: 1.5;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.produto{
    width: 200px;
    height: 430px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ffd700;
    background: #2b2b2b;
    border-radius: 20px;
    
}
.produto img{ 
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 20px;
    object-fit: cover;
}
.produto h3{
    color: #f8f8f8;
}
.produto p{
    color: #bdbdbd;
    margin-top: 20;
}
.preco{
    font-weight: 700;
    margin-top: 50px;
    color: #ffd700;
    font-size: 1.7em;
    margin-top: 1px;
}
button{
    background: #D9D2D0;
    border-radius: 30px;
    margin-top: 30px;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 5PX;
}
button:hover{
    box-shadow: 0px 0px 8px #ffffff; /* Adiciona uma sombra branca */
    transform: scale(1.05); /* Efeito de zoom leve */
    background: #ffd700;
    color:#fff;
}
.position{
    margin-top: -5px;
}
#cards{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    justify-content: center;
    background-color: #121212;
}

footer{
    background: #000;
    padding:20px;
    text-align: center;
}
